<div class="s_icons">
  <a href="www.linkedin.com/in/skochko" target="_blank" class="linkedin">
    <div fxLayout='row' fxLayoutAlign="space-between center">
      <img src="assets/linkedin.svg" alt="linkedin">
    </div>
  </a>
  <a href="https://github.com/v-skochko" target="_blank" class="github">
    <div fxLayout='row' fxLayoutAlign="space-between center">
      <img src="assets/github.svg" alt="github">
    </div>
  </a>
  <a href="https://gitlab.com/skochko" target="_blank" class="gitlab">
    <div fxLayout='row' fxLayoutAlign="space-between center">
      <img src="assets/gitlab.svg" alt="gitlab">
    </div>
  </a>
  <a href="https://fb.com/skochko" target="_blank" class="facebook">
    <div fxLayout='row' fxLayoutAlign="space-between center">
      <img src="assets/facebook.svg" alt="facebook">
    </div>
  </a>
  <a href="mailto:skochko.Vs@gmail.com" target="_blank" class="gmail">
    <div fxLayout='row' fxLayoutAlign="space-between center">
      <img src="assets/gmail.svg" alt="gmail">
    </div>
  </a>
</div>
<p>

  I am a professional front-end developer currently working at <a target="_blank" href="https://belugalab.com/#team">BelugaLabs</a> in Lviv.
  I'm fluent in Wordpress theming, JS, PHP, responsive web design and much much more.

</p>
