<div class="s_icons">
  <a class="linkedin" href="https://linkedin.com/in/skochko" target="_blank">
    <div fxLayout='row' fxLayoutAlign="space-between center">
      <img alt="linkedin" src="assets/linkedin.svg">
    </div>
  </a>
  <a class="github" href="https://github.com/v-skochko" target="_blank">
    <div fxLayout='row' fxLayoutAlign="space-between center">
      <img alt="github" src="assets/github.svg">
    </div>
  </a>
  <a class="gitlab" href="https://gitlab.com/skochko" target="_blank">
    <div fxLayout='row' fxLayoutAlign="space-between center">
      <img alt="gitlab" src="assets/gitlab.svg">
    </div>
  </a>
  <a class="facebook" href="https://fb.com/skochko" target="_blank">
    <div fxLayout='row' fxLayoutAlign="space-between center">
      <img alt="facebook" src="assets/facebook.svg">
    </div>
  </a>
  <a class="gmail" href="mailto:skochko.Vs@gmail.com" target="_blank">
    <div fxLayout='row' fxLayoutAlign="space-between center">
      <img alt="gmail" src="assets/gmail.svg">
    </div>
  </a>
</div>
<p>
  I am a professional front-end developer currently working at
  <a href="https://reenbit.com/" target="_blank">Reenbit</a> in Lviv.
  I'm fluent in Angular, Wordpress theming, JavaScript, PHP, responsive web design and much much more.
</p>
