<div class="main_container" fxLayout='row' fxLayoutAlign="center center">
  <div fxFlex="800px" class="box" fxLayoutGap="40px" fxLayout='row' fxLayoutAlign="space-between center">
    <div class="routers">
      <a routerLinkActive="active" routerLink="/about" href="">About</a>
      <a routerLinkActive="active" routerLink="/portfolio" href="">Portfolio</a>
    </div>

    <div class="my_photo" fxFlex="160px">
      <img src="assets/my_photo.jpg" alt="My photo">
    </div>

    <div class="right">
      <div class="main_info">
        <h1>Vasyl Skochko</h1>
        <h2>Front-end Developer</h2>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
